@import "tailwindcss";
:root{
  --bg: #ffffff;
  --text: #191B1C;
  --accent: #2B6CB0;
  --accent-large: #1E90FF;
  --muted: #6B7280;
  --decor: #87CEEB;
}


@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeUp {
  animation: fadeUp 0.7s ease forwards;
}
:focus:not(:focus-visible) { outline: none; }
